body {
	font:13px arial,helvetica,clean,sans-serif;
	background-color: #fefeee;
}

 .Urblog_blogcontent  {
	width: 650px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 35px;
}

 .Urblog_blogtitle {
	text-align: center;
	text-transform: uppercase;
	border: 2px double gray;
}

 .Urblog_blogentry {
	text-align: left;
	border: 1px solid #ffffff;
	background-color: white;
	spacing: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 25px;
}

 .Urblog_blogentrytitle h2 {
	background-color: #ABCDEF;
	padding: 4px;
	margin: -4px;
}

 .Urblog_blogentrytitle a {
	color: black;
}

 .Urblog_blogentrybody {
	font-family: times,serif;
	background-color: white;
}

 .Urblog_blogentrydetail {
	background-color: #ABCDEF;
	padding: 4px;
	margin: -4px;
	height: 14px;
	font-size: 11px;
	color: grey;
}

 .Urblog_blogentrycomments {
	float: right;
}

 .Urblog_blogentryauthor {
	float: left;
}

.Urblog_commentform {

}

.Urblog_commentbutton {
	color:black; 
	font: bold 9px arial,helvetica,clean,sans-serif;	
	background-color:white; 
	border:1px solid; 
	border-color: #696 #363 #363 #696; 
} 

.Urblog_accountdetails {
	float: right;
}

